.project-select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.project-select-container h2 {
  margin-bottom: 20px;
}

.project-dropdown {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 250px;
}
