<div class="container">
  <div class="card">
    <div class="card-header">
    <h3>Permisos</h3>
    </div>
    <div class="card-body">
    <p class="d-flex justify-content-end">
      <button type="button" class="btn btn-success" [routerLink]="['/permission/create']">
        <span class="oi oi-plus"></span> Agregar Permiso
      </button>
    <button class="btn btn-danger float-right ml-2" (click)="Cancel()">Volver</button>

      <button class="btn btn-secondary float-right ml-2" (click)="toggleSearch()">
          @if (showSearch) {
          <span class="oi oi-search"></span>
          Ocultar Búsqueda
          }
          @if (!showSearch) {
          <span class="oi oi-search"></span>
          Buscar
          }
        </button>
        </p>
        @if(showSearch){
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Buscar Rol por nombre"
          (input)="applyFilter($event)"
        />
      </div>}
    <table class="table table-hover table-sm">
    <thead>
    <tr class="table-info">
      <th>Permiso</th>
      <th>Opciones</th>
    </tr>
    </thead>
    <tbody>
    @for (perm of paginatedPermissions; track perm.id) {
    <tr>
      <td>{{ perm.name }}</td>
      <td>
        <a title="Modificar" [routerLink]="['/permission/edit', perm.id]">
        <button type="button" class="btn btn-outline-warning">
            <span class="oi oi-pencil"></span>
          </button></a>
        <a title="Eliminar" mat-button color="warn" (click)="openDeleteModal(perm)">
          <button type="button" class="btn btn-outline-danger">
            <span class="oi oi-trash"></span>
          </button></a>
      </td>
    </tr>
    }
    </tbody>
  </table>
  @if (permissions.length === 0){
      <p>No hay Permisos disponibles.</p>
      }
            <mat-paginator
        [length]="totalItems"
        [pageSize]="pageSize"
        [pageIndex]="pageIndex"
        (page)="onPageChange($event)">
      </mat-paginator>
    </div>
  </div>
</div>
