<div class="container mt-4">
  <!-- Tabla de Pruebas a realizar -->
  <h4>Pruebas a realizar</h4>
  <table class="table table-bordered table-hover">
    <thead class="table-info">
    <tr>
      <th>Proyecto</th>
      <th>Iteración</th>
      <th>Número</th>
      <th>Escenario</th>
      <th>Completo</th>
      <th>Estado</th>
      <th>Opciones</th>
    </tr>
    </thead>
    <tbody>
    @for(stage of stagesToDo; track stage.id){
    <tr>
      <td>{{ stage.iteration.project.name }}</td>
      <td>{{ stage.iteration.name }}</td>
      <td>{{ stage.number }}</td>
      <td>{{ stage.name }}</td>
      <td>
        <div class="d-flex align-items-center">
          <div class="progress mx-2" style="height: 8px; width: 70px;">
            <div class="progress-bar" [ngClass]="getProgressBarClass(getProgress(stage))"
                 [style.width]="getProgress(stage) + '%'" role="progressbar">
            </div>
          </div>
          <span>{{ getProgress(stage) }}%</span>
        </div>
      </td>
      <td>{{ getStatusDescription(stage.status!) }}</td>
      <td>
        <a title="visualizar" class="btn btn-outline-info" [routerLink]="['/stage/detail', stage.id]">
          <span class="oi oi-zoom-in"></span>
        </a>
        <a title="Modificar" [routerLink]="['/stage/test/edit', stage.id]">
          <button type="button" class="btn btn-outline-warning">
            <span class="oi oi-pencil"></span>
          </button>
        </a>
      </td>
    </tr>
    }
    @if (stagesToDo.length === 0){
    <p>No hay Escenarios para probar.</p>
    }
    </tbody>
  </table>

  <!-- Tabla de Pruebas Finalizadas -->
  <h4 class="mt-4">Pruebas Finalizadas</h4>
  <table class="table table-bordered table-hover">
    <thead class="table-info">
    <tr>
      <th>Proyecto</th>
      <th>Iteración</th>
      <th>Número</th>
      <th>Escenario</th>
      <th>Completo</th>
      <th>Estado</th>
      <th>Opciones</th>
    </tr>
    </thead>
    <tbody>
    @for (stage of stagesCompleted; track stage.id) {
    <tr>
      <td>{{ stage.iteration.project.name }}</td>
      <td>{{ stage.iteration.name }}</td>
      <td>{{ stage.number }}</td>
      <td>{{ stage.name }}</td>
      <td>
        <div class="d-flex align-items-center">
          <div class="progress mx-2" style="height: 8px; width: 70px;">
            <div class="progress-bar bg-success" style="width: 100%" role="progressbar">
            </div>
          </div>
          <span>100%</span>
        </div>
      </td>
      <!--<td>{{ getStatusDescription(stage.status!) }}</td>-->
      <td [ngClass]="getStatusClass(stage.status)">
        <strong>{{ getStatusDescription(stage.status) }}</strong>
      </td>
      <td>
        <a title="visualizar" class="btn btn-outline-info" [routerLink]="['/stage/detail', stage.id]">
          <span class="oi oi-zoom-in"></span>
        </a>
      </td>
    </tr>
    }
    @if (stagesCompleted.length === 0){
    <p>No hay pruebas finalizadas.</p>
    }
    </tbody>
  </table>
</div>
