<div class="container">
  <form [formGroup]="userForm" (ngSubmit)="saveUser()">
    <div class="card">
        <div class="card-header">
            <h3>{{ isEditMode ? 'Editar' : 'Crear' }} Usuario</h3>
        </div>
        <div class="card-body">

    <div class="form-group">
      <label for="name">Nombre *</label>
      <input
        id="name"
        formControlName="name"
        type="text"
        class="form-control"
        placeholder="Ingresa el nombre"
        [ngClass]="{'is-invalid': userForm.get('name')?.invalid && userForm.get('name')?.touched}"
      />
      @if (userForm.get('name')?.invalid && userForm.get('name')?.touched) {
      <div class="error">
        El nombre es requerido.
      </div>
      }
    </div>

    <div class="form-group">
      <label for="email">Correo Electrónico *</label>
      <input
        type="email"
        id="email"
        class="form-control"
        formControlName="email"
        [ngClass]="{'is-invalid': userForm.get('email')?.invalid && userForm.get('email')?.touched}"
      />
      @if (userForm.get('email')?.invalid && userForm.get('email')?.touched) {
      <div class="error">
        Introduzca un correo electrónico válido.
      </div>
      }
      <br/>
      <div class="form-check">
        <input class="form-check-input mr-2" type="checkbox" id="admin" formControlName="admin" />
        <label class="form-check-label" for="admin">   ¿Es Administrador?</label>
      </div>
    </div>
    <div class="card-footer">

    <div class="form-group d-flex justify-content-end">
    <button type="submit" class="btn btn-outline-success" [disabled]="userForm.invalid">
    <span class="oi oi-check"></span>
      {{ isEditMode ? 'Actualizar' : 'Crear' }} Usuario
    </button>
    <button type="button" class="btn btn-outline-danger" (click)="cancel()">
    <span class="oi oi-x"></span>
      Cancelar
    </button>
      </div>
      </div>
        </div>
      </div>
    </form>
  @if (errorMessage){
  <div class="text-danger">
    {{ errorMessage }}
  </div>
  }
  </div>
