<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Iteraciones</h3>
    </div>
    <div class="card-body">
      <p class="d-flex justify-content-end">
        @if (isAdmin) {
        <button type="button" class="btn btn-success" [routerLink]="['/iteration/create']">
          <span class="oi oi-plus"></span> Nueva Iteración
        </button>
        }
        <button class="btn btn-danger float-right" [routerLink]="['/project']">Volver</button>
      </p>
    <table class="table table-hover table-sm">
      <thead>
      <tr class="table-info">
        <th>Iteración</th>
        <th>Fecha de Inicio</th>
        <th>Fecha de Fin</th>
        <!--<th>Cantidad de Casos de Prueba</th>-->
        <th>Opciones</th>
      </tr>
      </thead>
      <tbody>
      @for (iteration of iterations; track iteration.id) {
      <tr>
        <td>{{ iteration.name }}</td>
        <td>{{ iteration.startDate | date:'dd/MM/yyyy' }}</td>
        <td>{{ iteration.endDate | date:'dd/MM/yyyy' }}</td>
        <td>
          <!-- Botón para ver casos de prueba -->
          <a title="Escenarios" class="btn btn-outline-info" [routerLink]="['/stage', iteration.id]">
            <span class="oi oi-zoom-in"></span>
          </a>

          <!-- Botones de editar y eliminar, visibles solo si el usuario es admin -->
          @if (isAdmin) {
          <a title="Modificar" [routerLink]="['/iteration/edit', iteration.id]">
            <button type="button" class="btn btn-outline-warning">
              <span class="oi oi-pencil"></span>
            </button></a>
          <a title="Eliminar" mat-button color="warn" (click)="openDeleteModal(iteration)">
            <button type="button" class="btn btn-outline-danger">
              <span class="oi oi-trash"></span>
            </button></a>
          }
        </td>
      </tr>
      }
      </tbody>
    </table>
  </div>
      </div>
</div>
