<div class="container">
  <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
      <div class="card">
        <div class="card-header">
  <h3>{{ isEditMode ? 'Actualizar' : 'Crear' }} Categoría</h3>
        </div>
        <div class="card-body">
    <div class="form-group">
      <label for="name">Nombre *</label>
      <input id="name" formControlName="name" type="text" class="form-control" placeholder="Ingresa el nombre de la categoría" />
      @if (categoryForm.get('name')?.invalid && categoryForm.get('name')?.touched){
      <div class="text-danger">
        El nombre es obligatorio.
      </div>
      }
    </div>
    </div>
    <div class="card-footer">
    <div class="form-group d-flex justify-content-end">
      <button type="submit" class="btn btn-outline-success" [disabled]="categoryForm.invalid">
        <span class="oi oi-check"></span>
        {{ isEditMode ? 'Actualizar' : 'Crear' }} Categoría
      </button>
      <button type="button" class="btn btn-outline-danger" (click)="cancel()">
      <span class="oi oi-x"></span>
      Cancelar
      </button>
          </div>
                </div>
    </div>
  </form>
  @if (errorMessage){
  <div class="text-danger">
    {{ errorMessage }}
  </div>
  }
</div>
