/* Contenedor principal */
.role-list-container {
  max-width: 100%;
  padding: 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Encabezado de la página */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Estilo del botón "Agregar Rol" */
.btn-add {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn-add:hover {
  background-color: #45a049;
}

/* Tabla */
.role-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.role-table th, .role-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.role-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

/* Botones de acción */

.btn-view {
  background-color: #008CBA;
  color: white;
  padding: 8px 16px;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-edit:hover {
  background-color: #007bb5;
}

.btn-edit {
  background-color: #008CBA;
  color: white;
  padding: 8px 16px;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-edit:hover {
  background-color: #007bb5;
}

.btn-delete {
  background-color: #f44336;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-delete:hover {
  background-color: #da190b;
}
