<div class="container">
  <div class="card">
    <div class="card-header">
    <h3>Permisos Asignados</h3>
    </div>
    <div class="card-body">
    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-success" [routerLink]="['/rolePermission/create']">
        <span class="oi oi-plus"></span> Asignar permiso
      </button>
    <button class="btn btn-danger float-right" [routerLink]="['/role/']">Volver</button>
    </div>
  </div>
    <table class="table table-hover table-sm">
    <thead>
    <tr class="table-info">
      <!--<th>Rol</th>-->
      <th>Permiso</th>
      <th>Opciones</th>
    </tr>
    </thead>
    <tbody>
    @for (rolePermission of rolePermissions; track rolePermission.role) {
    <tr>
      <!--<td>{{ role.role?.name }}</td>-->
      <td>{{ rolePermission.permission?.name }}</td>
      <td>
        <a title="Modificar" [routerLink]="['/rolePermission/edit', rolePermission.id]">
        <button type="button" class="btn btn-outline-warning">
            <span class="oi oi-pencil"></span>
          </button></a>
        <a title="Eliminar" mat-button color="warn"  (click)="openDeleteModal(rolePermission)">
          <button type="button" class="btn btn-outline-danger">
            <span class="oi oi-trash"></span>
          </button></a>
      </td>
    </tr>
    }
    </tbody>
  </table>
</div>
