<link rel="stylesheet" href="../lib/bootstrap-4.1.1-dist/css/bootstrap.css" />
<link rel="stylesheet" href="../lib/open-iconic-master/font/css/open-iconic-bootstrap.css" />
<script type="text/javascript" src="../lib/bootstrap-4.1.1-dist/js/bootstrap.min.js"></script>
<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Proyectos</h3>
    </div>
    <div class="card-body">
    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-success" [routerLink]="['/project/create']">
        <span class="oi oi-plus"></span> Nuevo proyecto
      </button>
    <button class="btn btn-danger float-right " (click)="Cancel()">Volver</button>
    </div>
  </div>
  <!-- Tabla para mostrar los proyectos -->
  <table class="table table-hover table-sm">
    <thead>
        <tr class="table-info">
      <th>Nombre</th>
      <th>Tasa de Aprobación</th>
      <th>Estado</th>
      <th>Opciones</th>
    </tr>
    </thead>
    <tbody>
    @for ( project of projects; track project.id) {
    <tr>
      <td>{{ project.name || 'Sin nombre' }}</td>
      <td>{{ project.rateApproval || 'N/A' }}</td>
      <td>{{ project.status ? 'Activo' : 'Inactivo' }}</td>
      <td>
        <a title="Hitos" class="btn btn-outline-info" [routerLink]="['/milestone', project.id]">
          <span class="oi oi-zoom-in"></span>
        </a>
        <a title="Modificar" [routerLink]="['/project/edit', project.id]">
          <button type="button" class="btn btn-outline-warning">
            <span class="oi oi-pencil"></span>
          </button></a>
        <a title="Eliminar" mat-button color="warn">
          <button type="button" class="btn btn-outline-danger">
            <span class="oi oi-trash"></span>
          </button></a>
      </td>
    </tr>
    }
    </tbody>
  </table>
  <!-- Mostrar mensaje si no hay proyectos -->
  @if (projects?.length === 0){
    <p>No hay proyectos disponibles.</p>
  }
  </div>
</div>
