<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Proyectos</h3>
    </div>
    <div class="card-body">
    <p class="d-flex justify-content-end">
      @if(isAdmin() ){
      <button type="button" class="btn btn-success" [routerLink]="['/project/create']">
        <span class="oi oi-plus"></span> Nuevo Proyecto
      </button>
      }
    <button class="btn btn-danger float-right " (click)="Cancel()">Volver</button>
    </p>
  <!-- Tabla para mostrar los proyectos -->
  <table class="table table-hover table-sm">
    <thead>
        <tr class="table-info">
      <th>Nombre</th>
      <th>Tasa de Aprobación</th>
      <th>Estado</th>
      <th>Opciones</th>
    </tr>
    </thead>
    <tbody>
    @for ( project of projects; track project.id) {
    <tr>
      <td>{{ project.name || '' }}</td>
      <td>{{ project.rateApproval || '' }}</td>
      <td>{{ getStatusDescription(project.status!) }}</td>
      <td>
        <a title="Export" class="btn btn-outline-info" [routerLink]="['/project/export', project.id]">
          <span class="oi oi-file"></span>
        </a>
        <a title="Iteraciones" class="btn btn-outline-info" [routerLink]="['/iteration', project.id]">
          <span class="oi oi-zoom-in"></span>
        </a>
        <a title="Modificar" [routerLink]="['/project/edit', project.id]">
          <button type="button" class="btn btn-outline-warning">
            <span class="oi oi-pencil"></span>
          </button></a>
        <a title="Eliminar" mat-button color="warn" (click)="openDeleteModal(project)">
          <button type="button" class="btn btn-outline-danger">
            <span class="oi oi-trash"></span>
          </button></a>
      </td>
    </tr>
    }
    </tbody>
  </table>
  <!-- Mostrar mensaje si no hay proyectos -->
  @if (projects?.length === 0){
    <p>No hay proyectos disponibles.</p>
  }
  </div>
    <!--
@if(stages.length > 0)
    {
    <div class="card-body">
    <h5 class="mt-4">Estados por Escenario</h5>
    <table class="table table-bordered table-sm">
      <thead>
      <tr class="table-info">
        <th>Escenario</th>
        <th>Estado</th>
        <th>Resultado Esperado</th>
        <th>Resultado Obtenido</th>
      </tr>
      </thead>
      <tbody>
      @for (stage of stages; track stage.id){
      <tr>
        <td>{{ stage.name }}</td>
        <td>{{ stage.status }}</td>
        <td>{{ stage.expectedResult }}</td>
        <td>{{ stage.gotResult }}</td>
      </tr>
      }
      </tbody>
    </table>
    </div>
    }

    <div style="display: block; width: 50%; margin: auto;">
      <h2>Distribución de escenarios por Estado</h2>
      <canvas baseChart
              [data]="pieChartData"
              [labels]="pieChartLabels"
              [options]="pieChartOptions"
              [type]="pieChartType">
      </canvas>
    </div>
  </div>
  -->
</div>
