.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px; /* Ajusta el ancho máximo según sea necesario */
  display: inline-block;
  vertical-align: middle;
}
