<div class="project-container">
  <h2>{{ isEditMode ? 'Actualizar Permiso' : 'Crear Nuevo Permiso' }}</h2>

  <form [formGroup]="updatePermissionForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Nombre del Permiso</label>
      <input id="name" type="text" formControlName="name" placeholder="Ingrese el nombre del permiso" />
    </div>
    <div class="form-group d-flex justify-content-between">
    <button type="submit" [disabled]="updatePermissionForm.invalid">
      {{ isEditMode ? 'Actualizar' : 'Crear' }}
    </button>
    <button type="button" class="btn btn-danger" (click)="cancel()">Cancelar</button>
    </div>
  </form>
  @if (errorMessage) {
  <div class="error">
    {{ errorMessage }}
  </div>
  }
  @if (successMessage) {
  <div class="success">
    {{ successMessage }}
  </div>
  }
</div>
